/*Я сделал такие изначальные оутлайны элементам outline: 1px solid transparent;+ размеры , так как при табе все элементы немного сдвигаются. Не знаю на сколько это было важно

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  max-width: 1140px;
  min-height: 534px;
}

.result {
  display: flex;
  flex-direction: column;
  margin-top: 78px;
}

.result__video-container {
  position: relative;
  min-width: 711px;
  max-height: 386px;  
  overflow: hidden;
}

.result__video {
  display: block; /*еле разобрался откуда брался отступ в 5px*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;  
  margin-top: 16px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  text-align: left;
}

.search-form__label {
  display: flex; 
  align-items: center;
  width: fit-content;
  outline: 1px solid transparent;
  outline-offset: 1px; 
  cursor: pointer;
  margin-right: 15px;
}

.search-form__label:last-child {
  margin-right: 0;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline; 
}

.button { 
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
  margin-top: auto;
  border: 1px solid #fff;
  outline: 1px solid transparent; /**/
  outline-offset: 1px; /**/
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  outline: none; 
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  background-color: transparent;
  cursor: pointer; /*Нужно ли поле кликабельным?*/
  appearance: none;
  border: 1px solid #fff;
  border-right: 0;
  border-left: 0;
  color: #fff;
}

.search-form__textfield:focus {
  outline: none;
  caret-color: #fff;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff; 
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  align-items: center; /* Выравниваем элементы по вертикали НУЖНО?*/
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px; 
  height: 19px; 
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  margin-right: 5px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  transform: scale(0); /* По умолчанию скрыт */
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  transform: scale(1);
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff; 
}

/*ПРАВО*/

.content__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 399px;
  height: auto;
  justify-content: flex-start;
}

.title {
  margin-bottom: 22px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
  
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  max-height: 298px;
  overflow-x: hidden;
  overflow-y: auto;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__card-link {
  display: block;
  margin: 3px;
  outline: 1px solid transparent;
  outline-offset: 1px;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050; 
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-title {
  padding-top: 3px;
  padding-bottom: 6px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  text-align: left;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  max-height: 103px;
  object-fit: cover;
}

.more-button {
  width: 395px;
  height: 33px;
  border: 1px solid #fff;
  outline: 1px solid transparent; /**/
  outline-offset: 1px; 
  margin: 2px;
  
}

/* Общие стили для кнопок */
.search-form__submit-button:focus,
.more-button:focus {
  outline: none;
}

.search-form__submit-button:hover,
.more-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:active,
.more-button:active {
  text-decoration: none;
  background-color: #545050;
}

.search-form__submit-button:focus-visible,
.more-button:focus-visible {
  outline: 1px solid #fff;
}